import sys
from Pyside2.QtCore import *
from Pyside2.QtWidgets import *
from Pyside2.QtGui import *

class Simple_drawing_window(QWidget):
    def __init__(self):
        QWidget.__init__(self, None)
        self.setWindowTitle("Simple Drawing")
        self.rabbit = QPixmap